<div style="display:flex;flex-wrap: wrap;flex-direction: row;width:519px" class="show-print">
  {{#each @items as |item index|}}
    <ItemSticker 
      @item={{item}} 
      @index={{index}} 
      @length={{@items.length}} 
    />
  {{/each}}
</div>