<div class="text-center" style="font-size:22px;font-weight:bold">Royal</div>
<div class="text-center" style="font-size:16px;font-weight:bold">Packaging Products</div>
<div style="margin-top:15px">
  <div style="display:inline-block;width:40%">Size</div>
  <div style="display:inline-block;width:55%">: {{item.size}}</div>
</div>
<div style="margin-top:10px">
  <div style="display:inline-block;width:40%">Weight</div>
  <div style="display:inline-block;width:55%">: {{item.weight}}</div>
</div>
<div style="margin-top:10px">
  <div style="display:inline-block;width:40%">Pcs</div>
  <div style="display:inline-block;width:55%">: {{item.pcs}}</div>
</div>
<div style="margin-top:10px">
  <div style="display:inline-block;width:40%">M.R.P</div>
  <div style="display:inline-block;width:55%">: Rs.{{item.price}}/-</div>
</div>