@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@media print {
  .hidden-print {
    display: none;
  }

  .show-print {
    display: flex !important;
    top: 0 !important;
    width: 519px !important;
    flex-direction: row !important;
  }
  .receipt-print {
    width: 366px!important;
    margin: 0 10px 0 30px!important;
  }
  .cash-print {
    width: 406px!important;
  }
}
@page {
  size: auto;
  /* auto is the initial value */
  margin: 0;
  /* this affects the margin in the printer settings */
}
.receipt-print {
  width: 356px;
  margin: 0 10px 0 30px;
}
.cash-print {
  width: 406px;
}
.item-sticker {
  width: 158px;
  max-width: 163px;
  flex: auto;
  margin-top: 5px;
  margin-left: 15px;
  height: 110px;
}
.first-row {
  margin-top: 0px;
}
.new-item {
  width: 900px;
}

.pcs-itemtable {
  tr td {
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    padding:10px 5px;
    &:first-child {
      border-left: none;
    }
  }
  thead tr td {
    border-top: 1px solid #333;
  }
}
text {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.form-control:focus {
  border-width: 5px;
}
@import "ember-power-select";
