<nav class="hidden-print navbar-fixed-top navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <LinkTo @route="index" class="navbar-brand">{{this.session.org_name}}</LinkTo>
    </div>

    {{#if this.session.isAdmin}}
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><LinkTo @route="sales">Sales</LinkTo></li>
          <li><LinkTo @route="editsales">Edit Sales</LinkTo></li>
          <li><LinkTo @route="returns">Returns</LinkTo></li>
          <li><LinkTo @route="payment">Payment</LinkTo></li>
          <li><LinkTo @route="purchase">Purchase</LinkTo></li>
          <li><LinkTo @route="adjustitem">Adjust Item</LinkTo></li>
          
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
              Stock
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><LinkTo @route="stockdetails">Stock Details</LinkTo></li>
              <li><LinkTo @route="addstock">Transfer Stock</LinkTo></li>
              <li><LinkTo @route="updatestock">Update Stock</LinkTo></li>
            </ul>
          </li>

          <li><LinkTo @route="counting">Counting</LinkTo></li>
          <li><LinkTo @route="barcode">Barcode</LinkTo></li>

          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
              Other Stickers
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><LinkTo @route="pantsticker">Pant Sticker</LinkTo></li>
              <li><LinkTo @route="printsticker">Print Sticker</LinkTo></li>
              <li><LinkTo @route="plainsticker">Plain Sticker</LinkTo></li>
              <li><LinkTo @route="packsticker">Pack Sticker</LinkTo></li>
            </ul>
          </li>
        </ul>
      </div>
    {{else if this.session.isSale}}
      <ul class="nav navbar-nav">
        <li><LinkTo @route="sales">Sales</LinkTo></li>
        <li><LinkTo @route="editsales">Edit Sales</LinkTo></li>
        <li><LinkTo @route="returns">Returns</LinkTo></li>
        <li><LinkTo @route="payment">Payment</LinkTo></li>
      </ul>
    {{/if}}
  </div>
</nav>

<div style="position:relative;top:60px" class="show-print">
  {{outlet}}
</div>