<div  style="background-color:#F3F307">
<h3 class="text-center hidden-print">Returns</h3>
<SalesTable @model={{model}} @isSales={{false}} />
<SalesReceipt @model={{model}} @numberLabel="Credit No" @isSales={{false}} />
</div>
